In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("climate.csv")
df

        day  temperature  windspeed event
0  01/01/17           32          6   rain
1  01/02/17           35          7  sunny
2  01/03/17           28          2   snow
3  01/04/17           24          7   snow
4  01/05/17           32          4   rain
5  01/06/17           32          2  sunny

In [4]:
df.shape

(6, 4)