In [3]:
import pandas as pd

In [9]:
address={
    'Name':["Hari","Gopal"],
    'Address':["Newyork","Texas"]
    
}

In [11]:
df=pd.DataFrame(address)

In [12]:
df

    Name  Address
0   Hari  Newyork
1  Gopal    Texas

In [13]:
import pandas as pd
print(pd.__version__) #TO check the version of the panadas

2.0.2

In [14]:
df.shape

(2, 2)

In [15]:
# TO create a series from a list
a=[1,2,3,4,5]

In [17]:
pd.Series(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#To create a label

In [22]:
a=[1,7,2]
var=pd.Series(a,index=["x","y","z"])
var

x    1
y    7
z    2
dtype: int64